.container {
  background-color: black;
  max-width: 1600px;
}

.main{
  display: flex;
  
  justify-content: center;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: cyan;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: black;
  font-size: 17px;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}



/*
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
