/* .mainPageContainer{
  
} */

.mainPageContainer h1 {
  padding-left: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  opacity: 0.9;
  
}

.mainPageContainer .mainPageContent{
  display: flex;
  grid-gap: 40px;
  flex-wrap: wrap;
}
.mainPageContainer h1 {
  color: white;
}

.mainPageContainer .wiki{
  color: red;
}
.mainPageContainer .game{
  color: cornflowerblue;
}

.mainPageContainer .pagination {
  height: 100px;
  padding-top: 30px;
}


