.nav {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav .searchBar input {
  position: relative;
  height: 40px;
  width: 90%;
  padding-left: 35px;
  margin-top: 35px;
  font-size: 17px;
  border-radius: 20px;
  border-color: cornflowerblue;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.nav .searchBar .searchIcon{
  position: absolute;
  top: 42px;
  padding-left: 10px;
  z-index: 1;
  font-size: 25px;
}

.nav .searchBar input::placeholder{  
  color: red;
  
}

.nav .rightLogo{
  padding-left: 270px;
}
